.card-content{
	padding: 2px 16px;
}

.card-content p{
	word-break: normal;
	text-align: center;
}

body{
	margin: 0;
}

.card-title{
	text-align: center;
	font-size: 2em;
	background-color: #526E25;
	color: white;
	font-weight: 400;
	border-bottom: 2px solid black;
	padding: 10px;
}

#navbar{
	overflow: hidden;
	background-color: #166E00;
	border-bottom: 15px solid black;
	text-align: center;
}

#navbar a{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navbar a:hover{
	background-color: #6E5F00;
	color: white;
}

#container{
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding: 10px;
	text-align: center;
}

.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 80%;
	margin: auto;
}

.card:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

header{
	color: white;
	background-color: #6E6D00;
	padding: 20px;
	text-align: center;
	border-bottom: 1px solid black;
}

h1{
	font-weight: 400;
}

footer{
	background-color: #6E6D00;
	position: absolute;
	text-align: right;
	bottom: 0;
	width: 100%;
}

footer p{
	color: white;
	font-weight: 400;
	float: right;
	text-align: right;
	font-style: italic;
	padding-right: 10px;
}

footer a{
	text-decoration: none;
	color: white;
}

footer a:hover{
	text-decoration: underline;
}

html{
	overflow-x: hidden;
	
}

.hobby-img{
	width: 300px;
	height: 250px;
}

.hobby-div{
	display: grid;
	grid-template-columns: 40% 60%;
	margin: 15px;
}

.hobby-text{
	text-align: left;
}

.bio-pic{
	margin-top: 2%;
	width: 350px;
	height: 450px;
}

.bio-text{
	width: 80%;
	text-align: center;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
}

.card-content li{
	margin: auto;
	width: 100%;
}

.card-content li p{
	display: inline-block;
}

.card-content ul{
	list-style-type: none;
	text-align: center;
}

.gallery{
	width: 80%;
	margin: auto;
	margin-top: 10%;
	display: grid;
	grid-template-columns: 33% 33% 33%;
}

figcaption{
	width: 90%;
	margin: auto;
	margin-top: 5%;
	font-style: italic;
	font-size: 0.75 rem;
}

.index-img{
	width: 200px;
	height: 200px;
}

h2{
	color: white;
	background-color: #6E5F00;
	border-bottom: 2px solid black;
}